.team {
  height: 675px;
  background-color: #ffffff;
}

.team__text__block {
  margin-left: span(2 of 12);
  @include span(8 of 12);
  text-align: center;
  padding-top: 115px;
}

.team__header {
  @extend .common__h2;
  margin-bottom: 60px;
}

.team__text {
  @extend .common__text;
  margin-bottom: 110px;
}

.team__list {
  @include span(12 of 12);
  li {
    @include span(3 of 12);
    &:last-child {
      @include span(3 of 12 last);
    }
  }
}


.team__member__img {
  display: block;
  margin: 0 auto;
  width: 140px;
  height: 140px;
  background-image: url("../../images/sprites.png");
  outline: none;

  &.james {
    background-position: 19px -300px;
  }
  &.cactus {
    background-position: -134px -300px;
  }
  &.jack {
    background-position: -288px -300px;
  }
  &.yaga {
    width: 140px;
    height: 140px;
    background-position: -450px -300px;
  }
}

.team__member__info {
  width: 140px;
  text-align: center;
  margin: 0 auto;
}

.team__member__name {
  @extend .common__text;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.team__member__work  {
  @extend .common__text;
  font-size: 15px;
  text-align: center;
}
