.featured__articles {
  background-color: #ffffff;
  height: 850px;
}

.articles {
  @include span(8 of 12);
  margin-left: span(2 of 12);
  text-align: center;
}

.articles__header {
  @extend .common__h2;
  padding-top: 115px;
  margin-bottom: 45px;
  letter-spacing: 4px;
}

.articles__text {
  @extend .common__text;
  margin-bottom: 115px;
}

.articles__cards {
  @include span(12 of 12 last);
  position: relative;
}

//==================================================================================
// slider
//==================================================================================

.articles__wrapper {
  position: relative;
}

.articles__right {
  position: absolute;
  top: 520px;
  right: -55px;
  cursor: pointer;
}

.slick-slide {
  margin-left: 20px;
}

.slick-prev:before, .slick-next:before {
  color: #000000;
}
.slick-next {
  right: -40px;
}

//.prev__article, .next__article {
//  position: absolute;
//}
//.prev__article {
//  top: 0;
//  left: 0;
//}

//==================================================================================
// End of slider
//==================================================================================


.article__card {
  width: span(4 of 12);
  display: inline-block;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  background-color: #222222;
  color: #eeeeee;
  height: 375px;
  padding: 0 35px;
  &:last-child {
    @include span(4 of 12 last);
  }
  &.open:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #e64a19;
    top: 0;
    left: 30px;
  }
  &:hover {
    background-color: rgba(0, 0, 0, .6)
  }
}

.article__tag {
  text-transform: uppercase;
  font-family: $mainFont;
  font-size: 14px;
  font-weight: 400;
  padding-top: 71px;
  margin-bottom: 60px;
}

.article__header {
  font-family: $mainFont;
  letter-spacing: 3px;
  font-size: 24px;
  margin-bottom: 90px;
}

.article__author {
  @include container(100%);
}

.author__icon {
  display: inline-block;
  width: 70px;
  height: 60px;
  background-image: url("../../images/sprites.png");
  float: left;

  &--jimmy {
    background-position: -595px 0;
  }
  &--gail {
    background-position: -745px -1px;
  }
  &--mason {
    background-position: -895px -1px;
  }
}

.author__info {
  display: inline-block;
  padding-left: 20px;
  padding-top: 13px;
  font-family: $mainFont;
  font-size: 14px;
  font-weight: 700;
}

.author__name {
  text-transform: uppercase;
}
