.quote {
  height: 315px;
  background-color: #212121;
}

.quote__block {
  @include span(8 of 12);
  margin-left: span(2 of 12);
  text-align: center;
  color: #ffffff;
  margin-top: 80px;
  font-family: $mainFont;
  font-size: 20px;
  font-weight: 400;

  & *:not(i) {
    color: #eeeeee;
  }
}

.quote__icon {
  font-size: 18px;
  margin-bottom: 35px;
}

.quote__author {
  display: inline-block;
  margin-top: 60px;
  font-style: italic;
}