.products {
  background-color: #ffffff;
  padding-top: 110px;
  padding-bottom: 100px;
}

.product__card {
  @include span(12 of 12 last);
  margin-bottom: 50px;
}
.product__card.reverse {
  .product__description{
    @include span(6 of 12 last);
  }
  .product__image {
    @include span(6 of 12);
  }
}

.product__image {
  @include span(6 of 12 last);
}
.product__description {
  @include span(6 of 12);
  box-sizing: border-box;
  padding-top: 135px;
  padding-left: span(1 of 12);
  padding-right: span(1 of 12);
  text-align: center;
  font-family: $mainFont;
}
.product__date {
  padding-top: 70px;
  @extend .common__date;
}
.product__header {
  font-size: 24px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 45px;
  color: #222222;
}
.product__text {
  @extend .common__text;
  color: #333333;
}

