.who__section {
  height: 490px;
  background-color: #ffffff;
}

.who__logo {
  margin-left: span(5 of 12);
  @include span(2 of 12);
  padding-top: 85px;
  margin-bottom: 70px;
  text-align: center;
}

.broccoly {
  display: inline-block;
  background-image: url("../../images/sprites.png");
  width: 45px;
  height: 45px;
  background-position: 4px 2px;
  margin-bottom: 20px;
}

.who_header {
  @extend .common__h2;
}

.who__text {
  margin-left: span(1 of 12);
  @include span(10 of 12);
  text-align: center;
  @extend .common__text;
}

.features__section {
  background-color: #efefef;
  height: 370px;
}

.all__features {
  padding-top: 80px;
  margin-bottom: 111px;
}

.feature {
  @include span(3 of 12);
  margin-left: span(1 of 12);
  &:last-child {
    @include span(3 of 12);
  }
}

.feature__icon {
  background-image: url("../../images/sprites.png");
  height: 45px;
  width: 45px;
  display: inline-block;
  margin-bottom: 30px;
}

.clock__icon {
  background-position: -150px 10px;
}

.second__feature__icon {
  background-position: -300px 10px;
}

.car__icon {
  background-position: -450px 10px;
  height: 50px;
  width: 50px;
  margin-bottom: 22px;
}

.feature__header {
  @extend .features__h3;
  margin-bottom: 40px;
}

.feature__text {
  @extend .common__text;
}

