.facts {
  height: 690px;
  background-image: url("../../images/facts-bg.jpg");
  background-size: 100%;
}

.facts__header {
  @include span(12 of 12 last);
  @extend .common__h2;
  text-align: center;
  color: #ffffff;
  letter-spacing: 3px;
  padding-top: 100px;
  margin-bottom: 65px;
}

.facts__numbers {
  @include span(8 of 12);
  position: relative;
  margin-left: span(2.2 of 12);
  background-color: rgba(142, 142, 142, .4);
  height: 355px;
  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -5px;
    left: 46%;
    background-color: #e64a19;
    height: 5px;
    width: 65px;
  }
}

.facts1 {
  @include span(6 of 12);
}

.facts2 {
  @include span(6 of 12 last);
}

.facts1 div, .facts2 div {
  text-align: center;
}

.facts1 > div, .facts2 > div {
  padding-top: 50px;
}

.fact__num {
  font-size: 27px;
  color: #eeeeee;
  font-weight: bold;
}

.divider {
  width: 75px;
  display: block;
  height: 4px;
  background-color: #4d4c4b;
  margin: 20px auto;
}

.fact__info {
  font-family: $mainFont;
  font-size: 24px;
  color: #eeeeee;
}

