doctype
html.no-js
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Dyno
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel="stylesheet", href="modules/slick/slick.css")
		link(rel="stylesheet", href="modules/slick/slick-theme.css")

		link(rel="stylesheet", href="stylesheets/main.css")
		link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic,300,300italic,200italic,200,600,600italic,900,900italic' rel='stylesheet' type='text/css')

	body
		.main__header
			.container
				header.top__header
					.top__panel
						div.logo: a(href="/") unicorn
						.panel__divider
						nav.top__nav
							ul
								li: a(href="#") home
								li: a(href="#") about
								li: a(href="#") stories
								li: a(href="#") hello
								li: i.fa.fa-bars
					.header__content
						h1 storyteller
						.border__div
						p One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.
						input(type="button" value="read the rest")
		.who__section
			.container
				.who__logo
					i.broccoly
					h2.who_header Who & Why
				.who__text
					p The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was used by everyone, and so the door to this room was often kept closed in the evening. But Gregor found it easy to give up having the door open, he had, after all, often failed to make use of it when it was open and, without the family having noticed it, lain in his room in its darkest corner. One time, though, the charwoman left the door.

		.features__section
			.container
				.all__features
					.feature
						i.feature__icon.clock__icon
						h3.feature__header An Wow Feature
						p.feature__text The gentlemen who rented the room would sometimes take their evening meal at home in the living.

					.feature
						i.feature__icon.second__feature__icon
						h3.feature__header A Beautiful Feature
						p.feature__text The gentlemen who rented the room would sometimes take their evening meal at home in the living.

					.feature
						i.feature__icon.car__icon
						h3.feature__header An Amazing Feature
						p.feature__text The gentlemen who rented the room would sometimes take their evening meal at home in the living.

		.featured__articles
			.container
				.articles
					h2.articles__header Featured Articles
					p.articles__text The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was used by everyone, and so the door to this room was often kept closed in the

				.articles__wrapper
					i.fa.fa-chevron-right.articles__right
					.articles__cards
						.article__card
							.article__tag comic
							.article__header A million ways to die in the wild wild wild west
							.article__author
								i.author__icon.author__icon--jimmy
								.author__info
									h4.author__name jimmy jefferson
									span.date 21/08/2013
						.article__card
							.article__tag lifestyle
							.article__header The most comfortable chair comes with no backpain
							.article__author
								i.author__icon.author__icon--gail
								.author__info
									h4.author__name Gail Gutierrez
									span.date 21/08/2013
						.article__card
							.article__tag travel
							.article__header journey to the center of the earth with jefferson
							.article__author
								i.author__icon.author__icon--mason
								.author__info
									h4.author__name mason johnston
									span.date 21/08/2013
									span.date 21/08/2013
						.article__card
							.article__tag comic
							.article__header A million ways to die in the wild wild wild west
							.article__author
								i.author__icon.author__icon--jimmy
								.author__info
									h4.author__name jimmy jefferson
									span.date 21/08/2013
						.article__card
							.article__tag lifestyle
							.article__header The most comfortable chair comes with no backpain
							.article__author
								i.author__icon.author__icon--gail
								.author__info
									h4.author__name Gail Gutierrez
									span.date 21/08/2013
						.article__card
							.article__tag travel
							.article__header journey to the center of the earth with jefferson
							.article__author
								i.author__icon.author__icon--mason
								.author__info
									h4.author__name mason johnston
									span.date 21/08/2013
									span.date 21/08/2013
		.clients
			.container
				h2.clients__header Clients
				.clients__wrapper
					i.fa.fa-chevron-right.clients__right
					.clients__logos
						i.client__logo.moto
						i.client__logo.basket
						i.client__logo.deer
						i.client__logo.comp
						i.client__logo.sci
						i.client__logo.glass
						i.client__logo.moto
						i.client__logo.basket
						i.client__logo.deer
						i.client__logo.comp
						i.client__logo.sci
						i.client__logo.glass
		.portfolio__screenshots
			.container
				.portfolio__text
					h2.portfolio__header Portfolio & Screenshots
					p.portfolio__paragraph The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was used by everyone, and so the door to this room was often kept closed in the
					.portfolio__redline
					ul.portfolio__works
						li: a(href="#") Art
						li: a(href="#") Mystery
						li: a(href="#") Illusion
						li: a(href="#") Travel
						li: a(href="#") Paintings
			.portfolio__slider
				ul.portfolio__slider--list
					li: img(src="images/portfolio-slides/portfolio-slide1.jpg")
					li: img(src="images/portfolio-slides/portfolio-slide2.jpg")
					li: img(src="images/portfolio-slides/portfolio-slide3.jpg")
					li: img(src="images/portfolio-slides/portfolio-slide4.jpg")
					li: img(src="images/portfolio-slides/portfolio-slide1.jpg")
					li: img(src="images/portfolio-slides/portfolio-slide2.jpg")
					li: img(src="images/portfolio-slides/portfolio-slide3.jpg")
					li: img(src="images/portfolio-slides/portfolio-slide4.jpg")

		.quote
			.container
				.quote__block
					i.fa.fa-quote-right.quote__icon
					p.qoute__text Happiness cannot be traveled to, owned, earned, or worn. It is the spiritual experience of living every minute with love, grace & gratitude.
					span.quote__author Denis Waitley
		.team
			.container
				.team__text__block
					h2.team__header Team Members
					p.team__text The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was used by everyone, and so the door to this room was often kept closed in the
				.team__list
					ul
						li
							i.team__member__img.team__member__img.james
							.team__member__info
								h3.team__member__name james philly
								span.team__member__work lead developer
						li
							i.team__member__img.team__member__img.cactus
							.team__member__info
								h3.team__member__name Cactus Jack
								span.team__member__work 3D Model Designer
						li
							i.team__member__img.team__member__img.jack
							.team__member__info
								h3.team__member__name Jack Sparrow
								span.team__member__work Master of All Trade
						li
							i.team__member__img.team__member__img.yaga
							.team__member__info.last__team__member
								h3.team__member__name Yaga Squarehead
								span.team__member__work Manages Money
		.facts
			.container
				h2.facts__header Facts & Numbers
				.facts__numbers
					.facts1
						.fact1_1
							span.fact__num 110
							.divider
							span.fact__info succesful projects
						.fact1_2
							span.fact__num 30
							.divider
							span.fact__info open source plugins
					.facts2
						.fact2_1
							span.fact__num 25
							.divider
							span.fact__info awesome clients
						.fact2_2
							span.fact__num 13
							.divider
							span.fact__info open source themes
		.products
			.container
				.product__card
					.product__description
						span.product__date Travel / 21st March, 2014
						h3.product__header A New Product Is Coming
						p.product__text The office assistant was the boss's man, spineless, and with no understanding. What about if he reported sick? But that would be extremely strained and suspicious as in fifteen years of service Gregor had never.
					.product__image
						img(src="images/works/works1.jpg")

				.product__card.reverse
					.product__image
						img(src="images/works/works2.jpg")
					.product__description
						span.product__date Gadget / 3rd March, 2014
						h3.product__header Jimmy's New Xbox Controller
						p.product__text The office assistant was the boss's man, spineless, and with no understanding. What about if he reported sick? But that would be extremely strained and suspicious as in fifteen years of service Gregor had never.

				.product__card
					.product__description
						span.product__date Travel / 21st March, 2014
						h3.product__header A New Product Is Coming
						p.product__text The office assistant was the boss's man, spineless, and with no understanding. What about if he reported sick? But that would be extremely strained and suspicious as in fifteen years of service Gregor had never.
					.product__image
						img(src="images/works/works3.jpg")
		.reviews
			.container
				.reviews__list
					i.fa.fa-chevron-right.reviews__next
					ul.reviews__ul
						li
							.review
								h4.review__header Another Day In Paradise
								span.review__date Travel / 21st March, 2014
						li
							.review
								h4.review__header Jimmy's New Book on Aliens
								span.review__date Personal / 21st March, 2014
						li
							.review
								h4.review__header Sarah's New House
								span.review__date Personal / 21st March, 2014
						li
							.review
								h4.review__header Another Day In Paradise
								span.review__date Travel / 21st March, 2014
						li
							.review
								h4.review__header Jimmy's New Book on Aliens
								span.review__date Personal / 21st March, 2014
						li
							.review
								h4.review__header Sarah's New House
								span.review__date Personal / 21st March, 2014
		.comment
			.container
				.comment__box
					i.fa.fa-twitter
					i.comment__author
					p.comment__text Happiness cannot be traveled to, owned, earned, or worn. It is the spiritual experience of living every minute with love, grace & gratitude.
					span.comment__author__mail @loveless

		.footer
			.container
				.main__footer__div
					.footer__form
						h2: a.footer__logo(href="/") unicorn
						p.footer__form__text One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his
						form(for="/")
							input.footer__email__inp(type="email" placeholder="email")
							input.footer__subj__inp(type="text" placeholder="subject")
							input.footer__msg__inp(type="text" placeholder="message")


					.footer__links
						.links__block
							h2.links links
							ul.links__list
								li: a(href="#") Home
								li: a(href="#") About
								li: a(href="#") Services
								li: a(href="#") Menu
								li: a(href="#") Restaurants
								li: a(href="#") Work Hours
								li: a(href="#") Call Hours

						.links__block
							h2.links friends
							ul.links__list
								li: a(href="#") Home
								li: a(href="#") About
								li: a(href="#") Services
								li: a(href="#") Menu
								li: a(href="#") Restaurants

						.links__block
							h2.links social
							ul.links__list
								li: a(href="#") Facebook
								li: a(href="#") Twitter
								li: a(href="#") Github
								li: a(href="#") Pinterest
								li: a(href="#") Google Plus
								li: a(href="#") Dribble
								li: a(href="#") Flickr
								li: a(href="#") Others
					.send
						button.footer__send__button send
							i.fa.fa-caret-right.footer__send__triangle
				.copyrights
					.copyrights__text
						p One morning, when Gregor Samsa woke from troubled dreams, he found
							br
							| &copy; 2015 Your Awesome Company
					.privacy__terms
						ul
							li: a(href="#") job
							li: a(href="#") contact
							li: a(href="#") privacy policy
							li: a(href="#") terms







		script(src="modules/jquery/dist/jquery.min.js")
		script(src="modules/slick/slick.js")
		script(src="scripts/app.js")
